doctype html
html
  include head.pug

  body

    include navbar.pug

    .container
      block content

    img(src="http://www.pngall.com/wp-content/uploads/2016/05/Pizza-Free-PNG-Image-180x180.png")

    include footer.pug
    include javascript.pug